<template>
    <div class="container">
        <div if.bind="error" class="alert alert-danger" role="alert">
            <strong>${error | t}</strong>
        </div>

        <h2>${'login' | t}</h2>
        <form role="form" submit.delegate="login()">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input class="form-control" type="text" placeholder="${'email' | t}" value.bind="email" required autofocus>
            </div>
            <br/>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input class="form-control" type="password" placeholder="${'password' | t}" value.bind="password" required>
            </div> 
            <br/>
            <button type="submit" class="btn btn-lg  btn-block btn-primary">${'login' | t}</button>
        </form>
          
        <p class="text-center text-muted">
            <small>${'no_account_yet' | t} <a href="/#/signup">${'signup' | t}</a></small>
        </p>
    </div>
</template>