<template>
    <require from ="./converters/date-format.js"></require>

    <div class="container vert-spacer">

        <div if.bind="success" class="alert alert-success" role="alert">
            <strong>${'measurement_saved' | t}</strong>
        </div>

        <form method="post"  name="measurementForm" submit.delegate="save()">

            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="date">${'date' | t}</label>
                    <input type="datetime-local" value.bind="measurement.date | dateFormat:'YYYY-MM-DDThh:mm'" class="form-control" id="date" required/>
                </div>

                <div class="form-group col-xs-3">
                    <label for="weight">${'weight' | t}</label>
                    <input type="number" min="1" max="150" value.bind="measurement.weight" class="form-control" id="weight" placeholder="${'weight' | t}" required/>
                </div>

                <div class="form-group col-xs-3">
                    <label for="bmi">${'bmi' | t}</label>
                    <input type="number" min="7" max="90" value.bind="measurement.bmi" class="form-control" id="bmi" placeholder="${'bmi' | t}" />
                </div>

                <div class="form-group col-xs-3">
                    <label for="fat_percentage">${'fat_percentage' | t}</label>
                    <input type="number" min="5" max="60" value.bind="measurement.fat_percentage" class="form-control" id="fat_percentage" placeholder="${'fat_percentage' | t}" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="muscle_percentage">${'muscle_percentage' | t}</label>
                    <input type="number" min="5" max="50" value.bind="measurement.muscle_percentage" class="form-control" id="muscle_percentage" placeholder="${'muscle_percentage' | t}" />
                </div>

                <div class="form-group col-xs-3">
                    <label for="resting_metabolism">${'resting_metabolism' | t}</label>
                    <input type="number" min="385" max="3999" value.bind="measurement.resting_metabolism" class="form-control" id="resting_metabolism" placeholder="${'resting_metabolism' | t}" />
                </div>

                <div class="form-group col-xs-3">
                    <label for="visceral_fat">${'visceral_fat' | t}</label>
                    <input type="number" min="1" max="30" value.bind="measurement.visceral_fat" class="form-control" id="visceral_fat" placeholder="${'visceral_fat' | t}" />
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="form-group col-xs-4 col-sm-offset-4">
                    <button type="submit"  class="btn btn-lg  btn-block btn-primary">${'save' | t}</button>
                </div>
            </div>

        </form>
    </div>
</template>