<template>
    <require from ="./converters/date-format.js"></require>

     <div class="container">
        <section class="au-animate">
            <h2>${'signup' | t}</h2>
            <div if.bind="signupError" class="alert alert-danger">
                ${signupError | t}
            </div>
            <form role="form" submit.delegate="signup()">

                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input class="form-control" type="text" placeholder="${'email' | t}" value.bind="email" required autofocus>
                </div>
                <br/>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input class="form-control" type="password" placeholder="${'password' | t}" value.bind="password" required>
                </div>                 
                <br/>      
                <button type="submit" class="btn btn-lg  btn-block btn-primary">${'submit' | t}</button>
            
            </form>
        </section>
    </div>
</template>