<template>
    <require from ="./converters/date-format.js"></require>

    <div class="container vert-spacer">

        <div class=" btn-toolbar form-group">
            <button type="button" click.delegate="fetchAllMeasurements()" class="btn btn-default glyphicon glyphicon-refresh" title="${'update' | t}"></button>
            <button type="button" disabled.bind='measurements.length == 0' click.delegate="exportMeasurements()" class="btn btn-default glyphicon glyphicon-download-alt" title="${'download_csv' | t}"></button>
        </div>

        <div if.bind="!refreshing && measurements.length == 0">
            ${'no_measurements' | t}.
        </div>

        <table if.bind="!refreshing && measurements.length > 0" class="table table-striped table-condensed table-bordered table-hover text-center" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">${'date' | t}</th>
                    <th class="text-center">${'time' | t}</th>
                    <th class="text-center">${'weight' | t}</th>
                    <th class="text-center">${'bmi' | t}</th>
                    <th class="text-center">${'fat_percentage' | t}</th>
                    <th class="text-center">${'muscle_percentage' | t}</th>
                    <th class="text-center">${'resting_metabolism' | t}</th>
                    <th class="text-center">${'visceral_fat' | t}</th>
                    <th class="text-center" if.bind="!modifying">${'modify' | t}</th>
                    <th class="text-center" if.bind="modifying">${'save' | t}</th>
                    <th class="text-center">${'remove' | t}</th>
                </tr>
            </thead>
            <tr repeat.for="mea of measurements">
                <td> ${$index+1}</td>
                <!-- read only -->
                <td if.bind="modifying !== mea">${mea.date | dateFormat:'DD.MM.YYYY'} </td>
                <td if.bind="modifying !== mea">${mea.date | dateFormat:'hh:mm'} </td>
                <td if.bind="modifying !== mea">${mea.weight} </td>
                <td if.bind="modifying !== mea">${mea.bmi} </td>
                <td if.bind="modifying !== mea">${mea.fat_percentage} </td>
                <td if.bind="modifying !== mea">${mea.muscle_percentage} </td>
                <td if.bind="modifying !== mea">${mea.resting_metabolism} </td>
                <td if.bind="modifying !== mea">${mea.visceral_fat} </td>
                <td if.bind="modifying !== mea"><span click.delegate="modify(mea)" class="glyphicon glyphicon-edit"></span></td>
                <!-- modify -->
                <td if.bind="modifying === mea"><input size="2" value.bind="mea.date | dateFormat:'DD.MM.YYYY'" type="text"></td>
                <td if.bind="modifying === mea"><input size="2" value.bind="mea.date | dateFormat:'hh:mm'" type="text"></td>
                <td if.bind="modifying === mea"><input size="2" value.bind="mea.weight " type="text"></td>
                <td if.bind="modifying === mea"><input size="2" value.bind="mea.bmi" type="text"></td>
                <td if.bind="modifying === mea"><input size="2" value.bind="mea.fat_percentage" type="text"></td>
                <td if.bind="modifying === mea"><input size="2" value.bind="mea.muscle_percentage" type="text"></td>
                <td if.bind="modifying === mea"><input size="2" value.bind="mea.resting_metabolism" type="text"></td>
                <td if.bind="modifying === mea"><input size="2" value.bind="mea.visceral_fat" type="text"></td>
                <td if.bind="modifying === mea"><span click.delegate="save(mea)" class="glyphicon glyphicon-save"></span></td>   
                <td><span click.delegate="remove(mea._id)" class="glyphicon glyphicon-remove-sign"></span></td>
            </tr>
            <tr>
                <td></td>
                <td>${'average' |t}</td>
                <td></td>
                <td>${averages.weight.toFixed(2)}</td>
                <td>${averages.bmi.toFixed(2)}</td>
                <td>${averages.fat_percentage.toFixed(2)}</td>
                <td>${averages.muscle_percentage.toFixed(2)}</td>
                <td>${averages.resting_metabolism.toFixed(0)}</td>
                <td>${averages.visceral_fat.toFixed(2)}</td>
            </tr>
        </table>

    </div>

</template>